html {
  font-family: "Source Sans Pro", sans-serif;
}

/* utility classes */

.text-align-center {
  text-align: center;
}

.white-text {
  color: white;
}

.pb-50 {
  padding-bottom: 50px;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* semantic classes */

/* header section */
.page-header {
  background-color: darkslategray;
}

/* removes default underline on links */
.nav-item {
  text-decoration: none;
}

.nav-item:hover {
  color: steelblue;
}

/* banner / hero-image */
.hero-image {
  /* value is a CSS function */
  background-image: url(assets/lfz-logo.png);
  background-color: #303b43;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80%;
  height: 350px;
}

.student-name {
  font-size: 80px;
  background-color: #303b43;
  border-top: 5px double white;
  border-bottom: 5px double white;
}

/* about */

.about-section {
  background-color: whitesmoke;
}

.about-image {
  max-height: 80%;
  border: 6px solid slategray;
}

.text-align-reset {
  /* the value 'initial' returns the property it is set to to its default */
  text-align: initial;
}

/* technologies */

.tech-section {
  background-color: gainsboro;
}

/* projects */

.projects-section {
  background-color: snow;
}
